# ADDED BY NICK (code things)
*.pyc
build_debug/

# ADDED BY NICK (editor things)
*.swp
tags
compile_commands.json
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
build/CMakeCache.txt
build/CMakeFiles/3.9.1/CMakeCCompiler.cmake
build/CMakeFiles/3.9.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.9.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.9.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.9.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.9.1/CMakeSystem.cmake
build/CMakeFiles/3.9.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.9.1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.9.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.9.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.9.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.9.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.9.1/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.1.tlog
build/CMakeFiles/3.9.1/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.1.tlog
build/CMakeFiles/3.9.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.9.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.9.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.9.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.9.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.9.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.9.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.9.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.9.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.9.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.9.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.9.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.9.1/VCTargetsPath.txt
build/CMakeFiles/3.9.1/VCTargetsPath.vcxproj
build/CMakeFiles/3.9.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.cxx
build/deps/nanogui/ext_build/glfw/src/glfw3.pc
build/deps/nanogui/ext_build/glfw/src/glfw3Config.cmake
build/deps/nanogui/ext_build/glfw/src/glfw3ConfigVersion.cmake
build/deps/nanogui/ext_build/glfw/src/glfw_config.h
